.shop-category{
    width: 100%;
    align-items: center;
}
.shopcategory-banner {
    display: block;
    margin: 30px auto;
    width: 90%;
}

.shopcategory-indexSort{
    display: flex;
    justify-content: space-between;
    margin: 0 170px;
    align-items: center;
    
}

.shopcategory-sort {
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}

.shopcategory-indexSort p span {
    font-weight: 600;
}
.shopcategory-products {
    width: 95%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   row-gap: 80px;
   gap: 30px;
}

.shopcategory-loadmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 1.2rem;
    font-weight: 500;
}

@media(max-width: 1280px){
    .shopcategory-banner{
        margin: 20px auto;
        width: 85%;
    }
    .shopcategory-indexSort{
        width: 90%;
        margin: auto;
    }
    .shopcategory-sort {
        padding: 5px 10px;
        font-size: .75rem;
    }
    .shopcategory-indexSort p{
        font-size: .75rem;
    }
    .shopcategory-products {
        width: 90%;
        margin: 10px auto;
        row-gap: 40px;
    }

    .shopcategory-products .item {
        margin: auto;
    }

    .shopcategory-loadmore{
        margin: 100px auto;
        width: 200px;
        height: 60px;
        font-size: 1rem;
    }
}

@media(max-width: 800px){
    .shopcategory-banner{
        width: 90%;
        margin-top: 70px;
    }
    
    .shopcategory-products {
        width: 90%;
        gap: 15px;
        
    }

    .shopcategory-loadmore{
        margin: 60px auto;
        width: 150px;
        height: 40px;
        font-size: 0.8rem;
    }
}

@media(max-width: 500px){
    .shopcategory-products{
        grid-template-columns: 1fr 1fr;
    }
    .shopcategory-sort {
        padding: 4px 8px;
        font-size: .63rem;
    }
}