.hero{
    height: 100vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
}
.hero-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
    height: 90%;
}

.hero-left h2 {
    color: #090909;
    font-size: 25px;
    font-weight: 400; 
}

.hero-left p {
    color: #171717;
    font-size: 5rem;
    font-weight: 600;
}

.hero-hand-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-hand-icon img {
    width: 90px;
}

.hero-latest-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 20px;
    background: #ff4141;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
}

.hero-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-right img {
    height: 85% ;
}

@media(max-width: 1280px){
    .hero{
        height: 100vh;
    }

    .hero-left {
        padding-left: 100px;
    }
    .hero-left h2 {
        font-size: 22px;
    }
    .hero-left p {
        font-size: 3.75rem;
    }
    .hero-hand-icon img {
        width: 70px;
        height: auto;
    }
    .hero-latest-button{
        gap: 10px;
        width: 250px;
        height: 60px;
        margin-top: 15px;
        font-size: 1.1rem;
    }
    .hero-right img {
        width: 500px;
        
    }
}

@media(max-width: 1024px){

    .hero-left {
        padding-left: 80px;
    }
    .hero-left h2 {
        font-size: 20px;
    }
    .hero-left p {
        font-size: 3rem;
    }
    .hero-hand-icon img {
        width: 65px;
    }
    .hero-latest-button{
        width: 220px;
        height: 50px;
        font-size: 1rem;
    }
    .hero-right img {
        width: 400px;
        
    }
}



@media(max-width: 800px){

    .hero-left {
        padding-left: 30px;
    }
    .hero-left h2 {
        font-size: 1rem;
    }
    .hero-left p {
        font-size: 2.5rem;
    }
    .hero-hand-icon img {
        width: 50px;
    }
    .hero-latest-button{
        width: 175px;
        height: 40px;
        font-size: 13px;
    }
    .hero-right img {
        width: 300px;
        
    }
}

@media(max-width: 500px){

    .hero{
        flex-direction: column;
        height: 60vh;
    }
    .hero-right {
        display: none;
    }
    .hero-left h2 {
        font-size: 1.2rem;
    }
    .hero-left p {
        font-size: 50px;
    }
    .hero-hand-icon img {
        width: 55px;
    }
    .hero-latest-button {
        width: 200px;
        height: 45px;
        font-size: 0.9rem;
    }
}